<form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
  <label>
    Name:
    <input type="text" formControlName="name" />
    <small>{{ formError("name") }}</small>
  </label>
  <label>
    Email:
    <input type="email" formControlName="email" />
    <small>{{ formError("email") }}</small>
  </label>
  <label>
    Password:
    <input type="text" formControlName="password" />
    <small>{{ formError("password") }}</small>
  </label>
  <label>
    Phone Number:
    <input type="tel" formControlName="phone" />
    <small>{{ formError("phone") }}</small>
  </label>
  <button type="submit" [disabled]="signupForm.invalid">Submit</button>
</form>
